{% include "header.html" %}
{% from "bootstrap5/form.html" import render_form %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Color Extractor</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<!-- Display Form to choose params -->
    <div class="container my-5">

        <div class="p-5 text-center bg-body-tertiary rounded-3">
            <h1>Upload Image </h1>
            {{render_form(form, novalidate=True, button_map={"submit": "secondary"}) }}
        </div>
    </div>
    <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-6 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{ url_for('static', filename='uploads/' + image_file) }}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
          <div class="p-5 text-center bg-body-tertiary rounded-3">
            <h1>10 Most Frequent Colors:</h1>
          </div>
          <div class="table-responsive small">
               <table class="table table-striped table-sm" style="font-size: 18px;">
                    <thead>
                        <tr>
                            <th scope="col">HEX code</th>
                            <th scope="col">RGB code</th>
                            <th scope="col">Color</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Loop through colors and create a new row for each pair -->
                        {% for hex, rgb in colors.items() %}
                            <tr>
                                <td>{{ hex }}</td>
                                <td>{{ rgb }}</td>
                                <td>
                                    <div class="uk-margin-bottom">
                                        <!-- Display a color preview -->
                                        <div class="sqr-color pointer" style="width: 50px; height: 50px; background-color: rgb({{ rgb[0] }}, {{ rgb[1] }}, {{ rgb[2] }});">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
           </div>
      </div>
    </div>
  </div>
<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-body-secondary">© 2024 </span>
    </div>
  </footer>
</div>
</body>
</html>