{% include "header.html" %}
{% from "bootstrap5/form.html" import render_form %}
{% block content %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/contact.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          {% if msg_sent: %}
          <h1>Successfully sent your message</h1>
          {% else: %}
          <h1>Contact Me</h1>
          {% endif %}
          <span class="subheading">Interested in working together? I’d love to hear from you.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <!-- First rendering of page  -->
        {% if not is_sent %}
        <p>
          Want to get in touch? Fill out the form below to send me a message and
          I will get back to you as soon as possible!
        </p>
        {% endif %}

        <!-- Flash messages or errors after sending msg to author -->
        <div class="my-5">
          <!-- Flash messages for users -->
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              <div class=flashes>
                {% for category, message in messages %}
                  <p class="{{category}}">{{message}}</p>
                {% endfor %}
              </div>
            {% endif %}
          {% endwith %}

           <!-- CKEditor for message  -->
          {{ ckeditor.load() }} {{ ckeditor.config(name='message') }}
          <!--Render contact form-->
          {{ render_form(form, button_map={"submit": "primary"}) }}
        </div>
      </div>
    </div>
  </div>
</main>
{% include "footer.html" %} {% endblock %}

